@charset "utf-8";
$nav-yellow: #ffe600;

.nav-header {
  background-color: $nav-yellow;
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  margin-bottom: 16px;
}

.nav-bounds {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 851px;
  gap: 24px;
}

.nav-logo-area {
  flex: 0 0 auto;
}

.nav-logo {
  background-image: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.6.91/mercadolibre/logo_large_25years_v2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 134px;
  text-indent: -9999px;
  display: block;
}

