* {
  padding: 0px;
  margin: 0px;
  font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #EDEDED;
}

.app {
  width: 100%;
  max-width: 851px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
}